.App {
  text-align: center;
}

#teacherLeagueLogo {
  width: 25rem;
  height: 3rem;
  position: static;
  /* top:10rem; */
  left:0rem;
  /* margin-bottom: 5rem; */
  border: 5px solid rgb(32, 159, 201);
  /* height: 10rem; */
  /* background: radial-gradient(circle,
  #00FF7F	 25%,
  rgb(255, 255, 255) 100%);
  z-index: 15;
  opacity: 40%; */
}

#banner {
  height: 4rem;
  background: radial-gradient(circle,
  black	 50%,
  yellow   67%,
  rgb(235, 110, 8) 100%);
  z-index: 15;
  opacity: 80%; 
}
