.App {
  text-align: center;
}

h2 {
  text-align: left;
  font-family: 'Helvetica';
}

#teacherLeagueLogo {
  width: 25rem;
  height: 4.75rem;
  margin-top: -.5rem;
  position: absolute;
  left:0rem;
  border: 5px solid rgb(13, 20, 23);
}

#banner {
  height: 4.6rem;
  /* background: radial-gradient(circle,
  yellow	 50%,
  white   80%,
  red 33%); */
  z-index: 25;
  opacity: 70%; 
  background-image: url(https://c8.alamy.com/comp/PWA4DJ/seamless-square-grid-graph-paper-pattern-in-blue-PWA4DJ.jpg);
  border: 5px solid lightblue;
  background-size: 30rem;

}

#lounge-subtitle {
  color: rgb(208, 44, 156);
}

.lounge-card-item {
  background-color: offwhite;
  color: rgb(18, 67, 101);
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  margin: 12px 0px;
  display: inline-block;
  width: 50%;
  /* height: 50%; */
}

.lounge-card-title {
  color: white;
  background-color: rgb(125, 14, 119);
  /* font-weight: 500; */
  font-size: 1.25rem;
  font-family: Avenir-Heavy;
  /* font-size: 20; */
  font-weight: 600;
  margin: 12px 0px 0px 0px;

}

.lounge-card-content-theme {
  text-align: left;
}
#Footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
  margin-top: 2rem;
}

.lounge-card-content {
  padding: 4px 16px 20px 16px;

}

.lounge-card-image {
  background-color: lightGray;
  /* height:fit-content; */
  width:fit-content;
  max-height: 140px;
  overflow: hidden;
  text-align: center;
  border-radius: 1000%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}